.navbar {
    background-color: #003f7e;  
    overflow: hidden;
    height: 60px;
    font-size: 15px;
  }
  
  .navbar a {
    float: left;
    display: block;
    color:  #f8f8f8;
    text-align: center;
    padding: 23px 16px;
    text-decoration: none;

  }
  
  .navbar a:hover {
    background-color: #032d57;
    color:  #ffffff;
  }

  .logoinicio{
    float: left;
    height: 70px;
    width: 70px;
  }

  body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #1c2222;
  }
  header {
      background-color: #074888;
      color: #ffffff;
      text-align: center;
      padding: 1px;
  }

   h2{
    font-size: 27px;
    color: #ffffff;
    font-family: Verdana;
    margin: 50px;
    padding: 0px;
    text-align: start;
   
    
  }

  p {
    font-size: 18px;
    color: #f8f8f8;
    font-family: cursive;
    margin: 50px;
    padding: 0;
    line-height: 1.5;
    text-align: center;
   
    
  }

  footer {
    background-color: #130f52;
    color: #fff; 
    padding: 50px; 
    text-align: center; 
}


.footerLogo img {
    width: 80px;
    height: 80px;
    float: unset;
}


.footerNav ul {
    list-style: none;
    padding: 0;
}

.footerNav li {
    margin: 10px 0;
}

.footerNav a {
    text-decoration: none;
    color: #fff;
}

.footerNav a:hover {
    background-color: #061014;
}


.footerLink a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
}

.footerLink a:hover {
  background-color: #061014;
}
  
  
  
  input[type="email"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
  }
  button {
      background-color: #333;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }